# SUBTENSOR_NETWORK=wss://entrypoint-finney.opentensor.ai:443
SUBTENSOR_NETWORK=wss://test.finney.opentensor.ai:443
# NETUID=82
NETUID=280
WALLET_NAME=khaicoldkey
HOTKEY=khaihotkey
PORT=8999

BOARD_SERVICE=https://api-hermes.subquery.network
OPENAI_API_BASE=https://openrouter.ai/api/v1

# Enable only when you use a custom optimised LLM
ENABLE_FALL_BACK_GRAPHQL_AGENT=false

# The Graph API token for querying subgraph data, needed for TheGraph projects
# free api token can be obtained from https://thegraph.com/docs/en/subgraphs/querying/managing-api-keys/
THEGRAPH_API_TOKEN=xxx

