# SUBTENSOR_NETWORK=wss://entrypoint-finney.opentensor.ai:443
SUBTENSOR_NETWORK=wss://test.finney.opentensor.ai:443
# NETUID=82
NETUID=280
WALLET_NAME=khaicoldkey
HOTKEY=khaihotkey1
PORT=9999
BOARD_SERVICE=https://api-hermes.subquery.network
OPENAI_API_BASE=https://openrouter.ai/api/v1

# For GraphQL agent & synthetic challenges
LLM_MODEL=google/gemini-3-flash-preview
#LLM_MODEL=z-ai/glm-4.7

# For scoring miners
# SCORE_LLM_MODEL=z-ai/glm-4.7
SCORE_LLM_MODEL=google/gemini-3-flash-preview

# Synthetic challenge interval in seconds (default: 600 = 10 minutes)
CHALLENGE_INTERVAL=180
